{% extends "links/base.html" %}
{% load static %}

<!-- Products cards -->
{% block product_cards %}
<div class="row mx-auto container mt-5 product-content">
    {% for item in data %}
    <div class="col-lg-3 col-md-4 col-12 my-2 py-3" id="item-card">
        <a class="prod-link" href={{item.3}}>
            <img src="{{item.4}}" alt="" class="img-responsive d-flex mx-auto mb-3" id="card-img">
            <!--<i class="fas fa-heart product-heart"></i>-->
            <div class="">
                <div class="text-center">
                    <h4 class="">{{item.2}}</h4>
                    <span class="">{{item.5}} off</span>
                </div>
                <div class="text-center"><p class="text-left">{{item.1}} out of 5</p></div>
                <p class="mb-0">{{item.0}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock product_cards %}